.avatar {
    display: flex;  
    border-radius: 50%; 
    box-shadow: var(--box-shadow); 
    overflow: hidden; 
}

.avatar__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}