.button {
  border: 1px solid #85d763;
  color: #85d763;
  outline-color: #85d763;
  border-radius: 24px;
  cursor: pointer;
  padding: 0 16px;
  height: 40px;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-shadow: var(--box-shadow);
  background: none;
}
