.list-item-text {
    display: flex;
    flex-direction: column;
    flex-grow: 1
}

.list-item-text__primary {
    display: block;
    font-weight: var(--font-weight-bold);
    margin: var(--margin-s) 0
}