html {
  box-sizing: var(--box-sizing);
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: var(--font-family-code)
}

h1, h2, h3, h4, h5 , h6 {
  margin-top: 0;
} 